services:

  api:
    build: .
    container_name: travel_api
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - qdrant
      - redis
      - ollama
    env_file:
      - .env
    volumes:
      - .:/app

  postgres:
    image: postgres:15
    container_name: travel_postgres
    restart: always
    environment:
      POSTGRES_USER: travel_user
      POSTGRES_PASSWORD: travel_pass
      POSTGRES_DB: travel_db
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant:latest
    container_name: travel_qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  
  redis:
    image: redis:7
    container_name: travel_redis
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    container_name: travel_celery
    command: celery -A app.celery_app worker --loglevel=info
    depends_on:
      - redis
      - postgres
    env_file:
      - .env
    volumes:
      - .:/app

  ollama:
    image: ollama/ollama:latest
    container_name: travel_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  nginx:
    image: nginx:alpine
    container_name: travel_nginx
    depends_on:
      - api
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  postgres_data:
  qdrant_data:
  ollama_data: