services:

  api:
    build: .
    container_name: travel_api
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - qdrant
      - redis
      - ollama
    env_file:
      - .env
    volumes:
      - .:/app

  postgres:
    image: postgres:15
    container_name: travel_postgres
    restart: always
    environment:
      POSTGRES_USER: travel_user
      POSTGRES_PASSWORD: travel_pass
      POSTGRES_DB: travel_db
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant:latest
    container_name: travel_qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage