# Tech stack
fastapi
langchain-ollama
langchain-qdrant
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
pydantic
qdrant-client
langchain==0.3.7
langchain-community==0.3.7
ollama
redis
celery
python-dotenv
httpx
pydantic-settings
sqlalchemy[asyncio]
beautifulsoup4